<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add type="System.Diagnostics.TextWriterTraceListener" name="TextWriter" initializeData="../AlarmsEvents.log" />
      </listeners>
    </trace>
    <switches>
      <!-- 0 - Disabled
           1 = Error   - Gives error messages
           2 = Warning - Gives errors and warnings
           3 = Info    - Gives more detailed error information
           4 = Verbose - Gives verbose trace information.    -->
      <add name="TraceLevel" value="Info" />
    </switches>
  </system.diagnostics>

  <!--
  <sources>
    <source name="System.ServiceModel"
            switchValue ="Information, ActivityTracing"
            propagateActivity="true">
      <listeners>
        <add name="sdt"
             type="System.Diagnostics.TextWriterTraceListener"
             initializeData ="AlarmsEventsServiceTrace.e2e" />
      </listeners>
    </source>
  </sources> -->

  <connectionStrings>
    <!-- Connection string za sql server db-->
    <!--<add name="SqlServerHistoryDB" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=HistoryDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />-->
    <add name="Azure_History_DB" connectionString="Server=tcp:ems-history-sql-server.database.windows.net,1433;Initial Catalog=HistoryDatabase;Persist Security Info=False;User ID=emsHistoryAdmin;Password=maliAdmin2#3@;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" />
  </system.web>

  <system.serviceModel>
    <client>
      <endpoint name="AesPublishEndpoint"
                address="net.tcp://localhost:20030/AlarmsEvents/PublishService"
                bindingConfiguration="netTcpBindingNoSecurity"
                binding="netTcpBinding"
                contract="EMS.ServiceContracts.IAesPublishContract">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>

    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingNoSecurity" closeTimeout="00:30:00" openTimeout="00:30:00" sendTimeout="00:10:00" receiveTimeout="10:30:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>