<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add type="System.Diagnostics.TextWriterTraceListener" name="TextWriter" initializeData="../ImporterProxy.log" />
      </listeners>
    </trace>
    <switches>
      <!-- 0 - Disabled
           1 = Error   - Gives error messages
           2 = Warning - Gives errors and warnings
           3 = Info    - Gives more detailed error information
           4 = Verbose - Gives verbose trace information.    -->
      <add name="TraceLevel" value="Info" />
    </switches>
  </system.diagnostics>
</configuration>