<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ResultDirectory" value="../Results" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add type="System.Diagnostics.TextWriterTraceListener" name="TextWriter" initializeData="../TestClient.log" />
      </listeners>
    </trace>
    <switches>
      <!-- 0 - Disabled
           1 = Error   - Gives error messages
           2 = Warning - Gives errors and warnings
           3 = Info    - Gives more detailed error information
           4 = Verbose - Gives verbose trace information.    -->
      <add name="TraceLevel" value="Info" />
    </switches>
  </system.diagnostics>

  <system.serviceModel>
    <client>
      <!--localhost - 52.174.176.178-->
      <!-- Network Model Service-->
      <endpoint address="net.tcp://ems-cluster.northeurope.cloudapp.azure.com:10000/NetworkModelService/GDA/" behaviorConfiguration="ClientBehavior" binding="netTcpBinding" bindingConfiguration="netTcpBindingNoSecurity" contract="EMS.ServiceContracts.INetworkModelGDAContract" name="NetworkModelGDAEndpoint">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint name="ImporterTransaction" address="net.tcp://ems-cluster.northeurope.cloudapp.azure.com:55000/TransactionManager/Importer" behaviorConfiguration="ClientBehavior" binding="netTcpBinding" bindingConfiguration="netTcpBindingNoSecurity" contract="EMS.ServiceContracts.IImporterContract">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <!-- CE PubSub endpoint -->
      <endpoint name="CalculationEnginePubSub" address="net.tcp://ems-cluster.northeurope.cloudapp.azure.com:22002/CalculationEngine/SubscribeService" behaviorConfiguration="ClientBehavior" binding="netTcpBinding" bindingConfiguration="netTcpBindingNoSecurity" contract="EMS.ServiceContracts.ICeSubscribeContract">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <!-- CE Choose optimization endpoint-->
      <endpoint name="OptimizationAlgEndpoint" address="net.tcp://ems-cluster.northeurope.cloudapp.azure.com:22002/CalculationEngine/OptimizationAlgorithm" behaviorConfiguration="ClientBehavior" binding="netTcpBinding" bindingConfiguration="netTcpBindingNoSecurity" contract="EMS.ServiceContracts.IOptimizationAlgorithmContract">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <!-- AE PubSub endpoint -->
      <endpoint name="AlarmsEventsPubSub" address="net.tcp://ems-cluster.northeurope.cloudapp.azure.com:20030/AlarmsEvents/SubscribeService" behaviorConfiguration="ClientBehavior" binding="netTcpBinding" bindingConfiguration="netTcpBindingNoSecurity" contract="EMS.ServiceContracts.IAesSubscribeContract">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <!--CE service for history data-->
      <endpoint name="CalculationEngineHistoryService" address="net.tcp://ems-cluster.northeurope.cloudapp.azure.com:22002/CalculationEngine/CeToUI" behaviorConfiguration="ClientBehavior" binding="netTcpBinding" bindingConfiguration="netTcpBindingNoSecurity" contract="EMS.ServiceContracts.ICalculationEngineUIContract">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <!-- AES Integrity Endpoint -->
      <endpoint name="AesIntegrityEndpoint" address="net.tcp://ems-cluster.northeurope.cloudapp.azure.com:20023/AlarmsEvents/IntegrityUpdate" behaviorConfiguration="ClientBehavior" binding="netTcpBinding" bindingConfiguration="netTcpBindingNoSecurity" contract="EMS.ServiceContracts.IAesIntegirtyContract">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>

    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingNoSecurity" closeTimeout="1:30:00" openTimeout="1:30:00" sendTimeout="1:30:00" receiveTimeout="1:30:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientBehavior">
          <clientCredentials supportInteractive="false">
            <windows allowNtlm="true" allowedImpersonationLevel="Impersonation" />
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Xceed.Wpf.AvalonDock" publicKeyToken="3e4669d2f30244f4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>